@inherits NoteView

<td class="title">@title</td>

@if (!Options.IsHideValue) {
    <td class="title">@Octave.Do</td>
}

<td colspan="1111" align="right">
    <input class="legend" @bind="Octave.Legend" />
</td>

@code {
    private string title = "Do";
}
