@inherits NoteView

<td class="title" style=@GetMonochrome()>@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style=@GetMonochrome()>@Octave.Mi</td>
}

@if (World.IsNext) {
    <DoView World="World" Octave="Octave.NextTwo" />
}

@code {
    private string title = "Mi";
}
