@inherits BaseView

<table class="tableFixHead">
    <thead>
        <tr>
            <NextView World="World" NextChanged="_=> {/*blazor call StateHasChanged*/}" />
        </tr>
    </thead>
    <tr>
        <DoView World="World" Octave="Octave" VisibleChanged="_=> { }" />
    </tr>
    <TiLaSoView World="World" Octave="Octave" VisibleChanged="_=> { }" />
    <FaMiReView World="World" Octave="Octave" VisibleChanged="_=> { }" />
</table>

@code {
    [Parameter] public Octave Octave { get; set; }
}
