@inherits NoteView

<table class="tableFixHead">
    <thead>
        <tr>
            <NextView World="World" Octave="Octave" NextChanged="_=> {/*blazor call StateHasChanged*/}" />
        </tr>
    </thead>
    <tr>
        <DoView World="World" Octave="Octave" />
    </tr>
    <TiLaSoView World="World" Octave="Octave" />
    <FaMiReView World="World" Octave="Octave" />
</table>

@code {
}
