@inherits NoteView

<td class="title" style="@TitleChrom">@title</td>
@if (IsShowValue) {
    <td class="title" style="@TitleChrom">@Octave.So</td>
}

    @if (World.IsNext) {
        <DoView World="World.Next" Octave="Octave.NextOne" />
    }

    @code {
private string title = "So";
    }
