@inherits NoteView

<td class="title" style="@GetMonochrome()">@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style="@GetMonochrome()">@Octave.Ti</td>
}

@code {
    private string title = "Ti";

}
