button {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.top-row {
    color: #5bc0de;
    background-color: white;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: right;
}
