@inherits NoteView

<td class="title" style="@GetBackground(true)" @onclick="OnClick">@title</td>

@if (!Options.IsHideValue) {
    <td class="title" style="@GetBackground(false)" @onclick="OnClick">@Octave.Do</td>
}

@if (World.IsNext) {
    <BlankView World="World.Next" />
}

<td colspan="1111" align="right">
    <input class="legend" @bind="Octave.Legend" />
</td>

@code {
    private string title = "Do";

    private async Task OnClick() {
        Octave.IsVisible = !Octave.IsVisible;
        await VisibleChanged.InvokeAsync();
    }

    private string GetBackground(bool isTitle) {
        string result = null;
        if (isTitle) {
            result = GetMonochrome(true);
        }

        if (!Octave.IsVisible) {
            result += "border-width:3px;";
        }

        return result;
    }
}
