@inherits NoteView

<td class="title" style="@GetMonochrome(true)" @onclick="OnClick">@title</td>

@if (!Options.IsHideValue) {
    <td class="title" @onclick="OnClick">@Octave.Do</td>
}

<td colspan="1111" align="right">
    <input class="legend" @bind="Octave.Legend" />
</td>

@code {
    private string title = "Do";

    private void OnClick() {
        Octave.IsVisible = !Octave.IsVisible;
    }
}
