@inherits NoteView

<td class="title" style="@GetMonochrome(true, IsCreated)">@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style=@GetMonochrome()>@Octave.Fa</td>
}

@if (World.IsNext) {
    <FaView World="World.Next" Octave="Octave.NextOne" IsCreated=false />
}

@code {
    [Parameter] public bool IsCreated { get; set; } = true;
    private string title = "Fa";
}
