@inherits NoteView

<td class="title" style=@(Options.IsMonochrome ? "background-color: yellow;" + GetMonochrome() : null)>@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style=@GetMonochrome()>@Octave.La</td>
}

@code {
    private string title = "La";
}
