@inherits NoteView

<td class="title" style="@GetMonochrome()">@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style="@GetMonochrome()">@Octave.Re</td>
}

@if (World.IsNext) {
    <SoView World="World.Next" Octave="Octave.NextTwo" />
}

@code {
    private string title = "Re";
}
