@inherits NoteView

<td class="title" style="@GetMonochrome()">@title</td>
@if (!Options.IsHideValue) {
    <td class="title" style="@GetMonochrome()">@Octave.So</td>
}

@if (World.IsNext) {
    <DoView World="World.Next" Octave="Octave.NextOne" />
}

@code {
    private string title = "So";
}
