.page {
    position: relative;
    display: flex;
    flex-direction: row;
}

.main {
    flex: 1;
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
}

.sidebar {
    background-image: linear-gradient(180deg, #9400d3 0%, #ff4500 100%);
    width: 150px;
    height: 100vh;
    position: sticky;
    top: 0;
}
