@page "/"
@page "/{cosmos?}"

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager navigationManager

<CascadingValue Value="options">
    <div class="page">
        <div class="sidebar">
            <ToolsView World="world" OptionsChanged="_=> { }" />
        </div>
        <div class="main">
            <OctavesView World="world" Octave="octave" />
        </div>
    </div>
</CascadingValue>

@code {
    private Options options;
    private World world;
    private Octave octave;
    [Parameter] public string Cosmos { get; set; }

    protected override void OnInitialized() {
        base.OnInitialized();
        options = new(localStorage, navigationManager, Cosmos);
        octave = new(new Storage(localStorage, options));
        world = new();
    }
}
