@page "/"

<CascadingValue Value="options">
    <div class="page">
        <div class="sidebar">
            <ToolsView World="world" Octave="octave" OptionsChanged="@(() => StateHasChanged())" />
        </div>
        <div class="main">
            <OctavesView World="world" Octave="octave" />
        </div>
    </div>
</CascadingValue>

@code {
    private Options options = new();
    private World world = new();
    private Octave octave = new(24576d, 0d);
}
