@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@implements IDisposable

<CascadingValue Value="options">
    <div class="page">
        <div class="sidebar">
            <ToolsView World="world" Octave="octave" OptionsChanged="_=> {/*blazor call StateHasChanged*/}" />
        </div>
        <div class="main">
            <OctavesView World="world" Octave="octave" />
        </div>
    </div>
</CascadingValue>

@code {
    private Options options;
    private World world;
    private Octave octave;

    protected override void OnInitialized() {
        base.OnInitialized();
        options = new(localStorage);
        world = new();
        octave = new(localStorage);
    }
}
