@page "/"
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<CascadingValue Value="options">
    @*    <div class="page">*@
    @*<div class="sidebar">
            <ToolsView World="world" Octave="octave" OptionsChanged="_=> {/*blazor call StateHasChanged*/}" />
        </div>*@
    @*<div class="main">*@
    <OctavesView World="world" Octave="octave" />
    @*</div>*@
    @*    </div>*@
</CascadingValue>

@code {
    private Options options = new();
    private World world = new();
    private Octave octave = new(24576d, 0d);

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        var legends = await localStorage.GetItemAsync<string>("legends");
        octave.SetLegends(legends);
    }
}
