@page "/"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<CascadingValue Value="options">
    <div class="page">
        <div class="sidebar">
            <ToolsView World="world" OptionsChanged="_=> { }" />
        </div>
        <div class="main">
            <OctavesView World="world" Octave="octave" />
        </div>
    </div>
</CascadingValue>

@code {
    private Options options;
    private World world;
    private Octave octave;

    protected override void OnInitialized() {
        base.OnInitialized();
        options = new(localStorage);
        octave = new(new Storage(localStorage, options));
        world = new();
    }
}
